/* Base link styling */
a {
    text-decoration: none;
    color: #007bff;
}

/* Page heading styling */
#pageHeading {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 2%;
    font-size: 2rem; 
    color: #333; 
}

/* Signup form styling */
#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

label {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}

/* Checkbox styling */
#checkbox {
    margin-left: 0;
}

/* Input and button shared styling */
input, button {
    width: 80%;
    padding: 15px;
    margin: 10px 0; 
    border: 2px solid #007bff;
    font-size: 1rem;
}

/* Button specific styling */
button {
    width: auto;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.errorMsg {
    color: #ff0000;
}

/* Responsiveness */
@media (max-width: 768px) {
    #signupForm {
        width: 90%;
    }

    input, button {
        width: 90%;
    }
}


.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Styles for the checkbox */
#terms_and_conds {
    margin-bottom: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox-container input{
    width: 20px;
    margin-top: 3px;
}

/* Styles for the checkbox */
#terms_and_conds {
    margin-bottom: 5px;
}

/* You may adjust the label margin if needed */
label[for='terms_and_conds'] {
    margin-top: 0;
}