#content div {
    background-color: rgb(169, 224, 144);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

#profileImgContainer {
    /* background-image: -moz-linear-gradient(); */
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    display: block;
    /* height: 270px; */
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}

#profileImg {
    display: block;
    float: left;
    height: 250px;
    width: 250px;
}

#userBio {
    align-items: flex-end;
    margin-left: 270px;
    margin-top: 75px;
}

#username {
    font-weight: bolder;
    font-size: 50px;;
}

#userOccupation {
    font-size: 40px;
}

#sectionContainer {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px;
}

#sectionControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ctrlBtn {
    background-color: rgba(20, 150, 20, 0.75);
    border: 1px solid rgba(20, 150, 20, 1);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 5px;
    width: 120px;
}

#editBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 10px 0px 0px;
}
