.search-bar {
    position: absolute;
    top: 140px;
    margin-bottom: 30px;
    right: 70px;
    border-radius: 50%;
    border-color: black;
    padding: 10px;
    /*background-color: #f0f0f0;*/
  }

  .search-bar input {
    border: none;
    border-radius: 50px;
    border-color: black;
    padding: 10px;
    outline: none;
  }

  .filter-bar {
        width: 100%;
        top: 140px;
        margin-top: 50px;
        margin-left: 10px;
        padding: 10px;
        /* background-color: #f0f0f0; */
        /* border-bottom: 1px solid #ccc; */
    }

    .job-list {
        width: 30%;
        float: left;
        margin-bottom: 50px;
        padding: 20px;
        border-right: 1px solid #ccc;
        height: 600px;
        overflow-y: scroll;
    }
    
    .job {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 10px;
        background: #f0f0f0;
        border: 1px solid #ccc;
    }
    
    .job img {
        max-width: 100px;
        max-height: 100px;
    }
    
    .job h3 {
        font-size: 18px;
        margin: 5px 0;
    }
    
    .job h4 {
        font-size: 16px;
        margin: 5px 0;
    }
    
    .job p {
        font-size: 14px;
        margin: 5px 0;
    }
    
    .job-display-panel {
        display: none;
        width: 55%;
        float: right;
        margin-top: 90px; 
        margin-right: 20px;
        padding: 20px;
        height: 510px;
        overflow-y: scroll;
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .apply-panel {
        /* background: #527759; */
        padding: 15px;
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
    }

    .description-panel {
        padding: 15px;
        background-color: #eaeaea;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px;
    }
    
    .description-panel div {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        background: #9eabb0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .close-button {
        cursor: pointer;
        float: right;
        padding: 5px 10px;
        background-color: #ccc;
        border-radius: 50%;
    }
