body {
    font-family: 'Times New Roman', Times, serif;
}

.container > div {
    margin-bottom: 10px;
}

#profileImgContainer {
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    display: flex;
}

#profileImg {
    border-radius: 50%;
    height: 200px;
    margin: 10px;
    width: 200px;
}

#userBio {
    margin-left: 10px;
    margin-top: 95px;
}

#profileUsername {
    font-weight: bolder;
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}

#profileUserOccupation {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

.sectionContainer {
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    padding: 10px;
}

#sectionControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ctrlBtn {
    background-color: rgba(20, 150, 20, 0.7);
    border: 1px solid rgba(20, 150, 20, 1);
    color: rgb(255, 255, 255);
    margin: 5px;
    width: 120px;
}

#editBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 10px 10px 0px 0px;
}
